<%- include("../partials/navbar") %>

<div class="post-container">
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>

  <small>By <%= post.author %></small>
</div>

<%- include("../partials/footer") %>